
h1{
    color: #060080;
    font-size: 30px;
}
h2{
    color: grey;
    font-size:20px
}

p{
    color: #131421;
    line-height: 1;
}
.photo_of_profile{
    max-width: 200px;
    margin: 10px 50px 0px 0px;
}
html{
    background: lightyellow;
    margin: 20px 40px 20px 40px;
    font-family: Arial;

}
ul.keys{
    line-height: 1.5;
}
a{
    color: #0b00ff;
}
a:active{
    color: #0068ff;
}
a:visited{
    color: #8d00ff;

}