<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Портфолио Касаткин А.С.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<p>До запуска человека на Марс осталось: {{getTimeBeforeTheEvent().getFullYear()}} года (лет)
{{getTimeBeforeTheEvent().getMonth()}} месяц(а)(ев)
  {{getTimeBeforeTheEvent().getDay()}} дня(ей)
  {{getTimeBeforeTheEvent().getHours()}} часа(ов)
  {{getTimeBeforeTheEvent().getMinutes()}} минут(ы)
  {{getTimeBeforeTheEvent().getSeconds()}} секунд(ы)
</p>
<h1>
  {{getAboutMyself().getName()}}
  <img src="http://avatars1.githubusercontent.com/u/16923686?s=400&u=f4116cf91de68006eb5baec24be75a6182cdcd07&v=4" class="photo_of_profile" alt="Фото профиля">
</h1>
<p>24 года, родился {{getAboutMyself().getDateBirthday()|date:'dd.MM.yyyy'}}</p>
<p>планета Иридония, готов к переезду, готов к командировкам (даже на Татуин)</p>
<p>Желаемый график: удаленная работа с использованием мощи темной стороны силы</p>
<br><h2>Контакты</h2>
<p>Номер телефона: {{getAboutMyself().getPhoneNumber()}}</p>
<p>e-mail: <a href="mailto:{{getAboutMyself().getEmail()}}">{{getAboutMyself().getEmail()}}</a></p>
<h2>Опыт работы {{getExperience().getFullYear()}} года (лет), {{getExperience().getMonth()}}
месяца(ев)</h2>
<p>Май 2016 - настоящее время</p>
<p>ООО "Звезда Смерти", ученик Дарт-Сидиуса</p>
<h2>Ключевые навыки</h2><ul class="keys">
  <app-skill
  *ngFor="let s of getSkills()"
  [skill]="s"
  ></app-skill>
  </ul>
<h2>Мои проекты на GitHub</h2>
<p><a href="http://github.com/LexKasatkin/testCourse" target="_blank">Тестовое задание</a></p>
<p><a href="http://github.com/LexKasatkin/learnAngular" target="_blank">Репозиторий для заданий по курсу Angular.js</a></p>
<h2>Образование</h2>
<table>
  <tr>
    <td><p>2016</p></td><td ><p>Учебный центр на Мустафаре. Ученик под началом Дарт-Сидиуса</p></td>
  </tr>
</table>
<h2>Знание языков</h2>
<p>Забракский — родной</p>
<p>Английский — читаю профессиональную литературу</p>
<h2>О себе</h2>
<p>«Покой — это ложь. Есть только страсть.</p>
  <p>Через страсть я познаю силу.</p>
<p>Через силу я познаю мощь.</p>
<p>Через мощь я познаю победу.</p>
<p>Через победу мои оковы рвутся.</p>
<p>И Великая Сила освободит меня.»</p>
</body>
</html>
