h1{
  color: #060080;
  font-size: 32px;
}
h2{
  color: grey;
  font-size:24px
}

p{
  color: #131421;
  line-height: 1;
}
.photo_of_profile{
  max-width: 150px;
  margin: 0px 24px 0px 0px;
  text-align: left;
  float: left;
  max-height: 150px;
}

ul.keys{
  line-height: 1.5;
}
a{
  color: #0b00ff;
}
a:active{
  color: #0068ff;
}
a:visited{
  color: #8d00ff;

}

